article,header{padding:.5em}
aside li:hover,li:hover{transition:.4s ease-in;text-decoration-color:white}
.aqui,aside .aqui{font-weight:700}
body,footer,header{background:#001525}
.juego:hover h3,aside li:hover,li:hover{text-decoration-color:white}
.juego:hover,aside .aqui,aside li:hover{background:#173144}
#pleg,#submit{border:0;color:#fff}
#juego,#pleg,#submit,.aqui,a,article,footer,header,li:hover{color:#fff}
#juego img,#pleg,.juego img{width:100%}

@media print{
  aside li:hover,li:hover{transition:.4s ease-in;text-decoration:underline;text-decoration-color:white}
  body,footer,header{background:#001525}
  aside li:hover,footer a:hover,li:hover{text-decoration:underline}
  .juego:hover h3,aside li:hover,li:hover{text-decoration-color:white}
  .juego:hover,aside .aqui,aside li:hover{background:#173144}
  #juego,#juegos{display:grid;grid-template-columns:auto}
  #pleg,a{cursor:pointer}
  #pleg,#submit{padding:.25em;border:0}
  #juego img,#pleg,.juego img{width:100%}
  .menu,aside{display:none}
  #logo,h1{margin:.1em;display:inline-block}
  #juego,#login{color:#fff;padding:1.5em .5em .5em}
  body{font-family:arial;margin:0}
  a{color:#fff;text-decoration:none}
  header{color:#fff;padding:.5em}
  #juego,#login,main{background-image:linear-gradient(to bottom right,#2d5877,#102331)}
  article{color:#fff;padding:.5em}
  ul{list-style:none;padding-left:0}
  #generos,.juego,footer,li{padding:.5em}
  li:hover{color:#fff}
  aside li:hover{color:#5d5ffa}
  .aqui,aside .aqui{color:#fff;font-weight:700}
  footer{color:#fff}
  footer img{max-width:3em}
  #copy{color:#b3b3b3}
  #submit{background-color:#163042;color:#fff}
  .juego{background:#1a384e}
  .juego h3{text-decoration:solid underline transparent}
  .juego:hover h3{transition:.5s ease-in}
  #juego{gap:1em}
  #juegos{gap:.5em}
  .precio{text-align:right}
  #pleg{background:#163042;color:#fff;text-align:left}
  .menu{overflow:hidden;transition:max-height .2s ease-out}
  .menu2{height:15em}
  #sel{color:red}
  #logo{width:2.5em}
  .logo{animation-name:flips;animation-duration:1s;animation-iteration-count:1;animation-timing-function:linear}
  @media (min-width:400px) and (max-width:699px){
    #juegos,main{display:grid}
    .juego,.juego img,.menu,aside{display:block}
    #pleg{display:none}
    #juegos{grid-template-columns:repeat(auto-fit,15em);padding:.5em}
    .juego img{width:100%;margin-left:auto;margin-right:auto}
    main{grid-template-columns:1fr 6fr;gap:.5em}
    aside{padding:.5em;color:#fff}
  }
  @media (min-width:700px){
    #juegos,.menu{grid-template-columns:repeat(auto-fit,15em);display:grid}
    #juego,#juegos,.menu,main{display:grid}
    #pleg{display:none}
    .menu{gap:.2em}
    .juego,.juego img,aside{display:block}
    #juegos{padding:.5em}
    .juego img{width:100%;margin-left:auto;margin-right:auto}
    main{grid-template-columns:1fr 6fr;gap:.5em}
    aside{padding:.5em;color:#fff}
    #juego{grid-template-columns:3fr 1fr}
  }
}
#juego,#login{padding:1.5em .5em .5em}
aside li:hover,footer a:hover,li:hover{text-decoration:underline}
.menu,aside{display:none}
#logo,h1{margin:.1em;display:inline-block}
#juego,#juegos{display:grid;grid-template-columns:auto}
body{font-family:arial;margin:0}
a{text-decoration:none;cursor:pointer}
#juego,#login,main{background-image:linear-gradient(to bottom right,#2d5877,#102331)}
ul{list-style:none;padding-left:0}
#generos,.juego,footer,li{padding:.5em}
aside li:hover{color:#5d5ffa}
aside .aqui{color:#fff}
footer img{max-width:3em}
#copy{color:#b3b3b3}
#submit{background-color:#163042;padding:.5em}
.juego{background:#1a384e}
.juego h3{text-decoration:solid underline transparent}
.juego:hover h3{transition:.5s ease-in}
#juego{gap:1em}
#pleg,#simple-cookie-consent button.cookie-consent-deny{padding:.25em}
#juegos{gap:.5em}
#simple-cookie-consent .cookie-consent-selection,.precio{text-align:right}
#pleg{background:#163042;cursor:pointer;text-align:left;font-size:200%}
.menu{overflow:hidden;transition:max-height .2s ease-out}
.menu2{display:block}#sel{color:red}#logo{width:2.5em}
.logo{animation-name:flips;animation-duration:1s;animation-iteration-count:1;animation-timing-function:linear}
@keyframes flips{0%{transform:rotateY(0)}50%{transform:rotateY(180deg)}100%{transform:rotateY(360deg)}}#login{color:#fff}
      
@media (min-width:400px) and (max-width:699px){
  #juegos,main{display:grid}
  .juego,.juego img,.menu,aside{display:block}
  #pleg{display:none}
  #juegos{grid-template-columns:repeat(auto-fit,15em);padding:.5em}
  .juego img{width:100%;margin-left:auto;margin-right:auto}main{grid-template-columns:1fr 6fr;gap:.5em}aside{padding:.5em;color:#fff}
}
@media (min-width:700px){
  #juegos,.menu{grid-template-columns:repeat(auto-fit,15em);display:grid}
  #juego,#juegos,.menu,main{display:grid}
  #pleg{display:none}
  .menu{gap:.2em}
  .juego,.juego img,aside{display:block}
  #juegos{padding:.5em}
  .juego img{width:100%;margin-left:auto;margin-right:auto}
  main{grid-template-columns:1fr 6fr;gap:.5em}
  aside{padding:.5em;color:#fff}#juego{grid-template-columns:3fr 1fr}
}
      
#simple-cookie-consent{display:none;height:100vh;width:100vw;position:fixed;top:0;left:0;resize:vertical;overflow:auto;z-index:999999999;background:rgba(0,0,0,.7)}
#simple-cookie-consent .cookie-consent-container{position:absolute;top:50%;left:2em;right:2em;margin:-10em auto 0;background:#fff;padding:1em;max-width:25em}
#simple-cookie-consent button{border:none;padding:.25em}
#simple-cookie-consent button.cookie-consent-allow{background:#163042;color:#fff}
#simple-cookie-consent button.cookie-consent-allow:focus,#simple-cookie-consent button.cookie-consent-allow:hover{background:#163042;cursor:pointer}
#simple-cookie-consent button.cookie-consent-deny:focus,button.cookie-consent-deny:hover{opacity:1;cursor:pointer}#simple-cookie-consent hr{margin:.75em 0}



